
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');
@media screen and (min-width: 348px) and (orientation: landscape) { nav { float: left; } } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    color: #F2F2F2;
    font-family: 'Merriweather Sans' serif;    
}
.card-left {
    max-width: 348px;
    height: 1700px;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    background: #585858;        
    font-weight: 700;
    font-size: 13px;
    line-height: 29px;
    padding-top: 30px;
}
.card-left img {
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
}
.primeira-tarja {    
    width: 300px;
    height: 30px;
    background-color: #1C1C1C;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    margin-top: 20px;
}
.primeira-tarja h2 {
    text-align: center;
    border-top: 20px;
    font-size: 23px;
}
.textos {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
}
.segunda-tarja {
    width: 300px;
    height: 30px;
    background-color: #1C1C1C;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    margin-top: 10px;
}
.segunda-tarja h2 {
    font-size: 23px;
}
.segundo-texto {
    margin-left: 20px;
    margin-top: 10px;
}
.segundo-texto li {
    font-size: 17px;
}
.terceira-tarja {
    width: 300px;
    height: 30px;
    background-color: #1C1C1C;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    margin-top: 10px;
}
.terceira-tarja h2 {
    font-size: 23px;
}
.terceiro-texto {
    margin-left: 20px;
    margin-top: 10px;
}
.terceiro-texto li {
    font-size: 17px;
}
.terceiro-texto h4 {
    text-align: center;
    font-size: 18px;
    border-bottom: solid 4px;
    border-color: #1C1C1C;        
}

