@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

@media screen and (min-width: 348px) and (orientation: landscape) {
    nav {
        float: left;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCBDAF;
    color: whitesmoke;
    font-family: 'Merriweather Sans' serif;
}

.card-left {
    position: relative;
    width: 100%;
    max-width: 348px;
    height: 1690px;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    background: #827970;
    font-weight: 700;
    font-size: 13px;
    line-height: 29px;
    padding-top: 30px;
    margin: 15px;
    border-radius: 5px;
}

.card-left img {
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    max-width: 100%;
}

.primeira-tarja {
    width: 100%;
    max-width: 300px;
    height: 30px;
    background-color: #332F2C;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    margin-top: 20px;
    border-radius: 5px;
}

.primeira-tarja h2 {
    text-align: center;
    border-top: 20px;
    font-size: 23px;
}

.textos {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
}

.segunda-tarja {
    width: 100%;
    max-width: 300px;
    height: 30px;
    background-color: #332F2C;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    margin-top: 10px;
    border-radius: 5px;
}

.segunda-tarja h2 {
    font-size: 23px;
}

.segundo-texto {
    margin-left: 20px;
    margin-top: 10px;
}

.segundo-texto li {
    font-size: 17px;
}

.terceira-tarja {
    width: 100%;
    max-width: 300px;
    height: 30px;
    background-color: #332F2C;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    margin-top: 10px;
    border-radius: 5px;
}

.terceira-tarja h2 {
    font-size: 23px;
}

.terceiro-texto {
    margin-left: 20px;
    margin-top: 10px;
}

.terceiro-texto li {
    font-size: 17px;
}

.terceiro-texto h4 {
    text-align: center;
    font-size: 18px;
    border-bottom: solid 4px;
    border-color: #332F2C;
}

.card-right {
    position: absolute;
    width: 952px;
    height: 210px;
    left: 378px;
    top: 15px;
    background: #827970;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    border-radius: 5px;
}

.card-right img {
    margin-top: 15px;
    margin-left: 38px;
}

.card-right h1 {
    margin-top: 30px;
    text-align: center;
}

.card-right h2 {
    margin-top: 25px;
    text-align: center;
}

.card-right-segundo {
    position: absolute;
    width: 952px;
    height: 150px;
    left: 378px;
    top: 240px;

    background: #827970;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-right-segundo a {
    font-size: 20px;
    color: whitesmoke;
    padding: 70px;
}
.card-projetos {
    position: absolute;
    width: 952px;
    
    left: 378px;
    top: 405px;
    background: #827970;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
    border-radius: 5px;     
    justify-content: center;
    text-align: center;    
    margin-right: 15px;    
}
.titulo {
    margin-top: 25px;
    height: 40px;
    text-align: center;     
}
.projetos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 18px;
}
.cardp {    
    background-color: #332F2C;
    height: 200px;
    width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    margin-left: 35px;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
}
.cardp a {
    color: whitesmoke;
    text-align: center;
    margin-top: 15px;    
}
.cardp p {
    margin-top: 15px;
    text-align: left;
}
